<!-- <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#longTermUserRegistrationForm">
    long term booking 
  </button><br><br> -->

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="longTermUserRegistrationForm" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Long Term User Registration Form </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container ">
          <div class="border bg-primary">
            <h5 class="m-2 fw-bold text-center text-light">LONG TERM USER REGISTRATION FORM</h5>
          </div>
        </div>
        <div class="container"><br>
          <div class=" row ">
            <div class="mb-3 col-lg-6">
              <label for="driver_email" class=" form-label fw-bold">Enter Email</label><br>
              <input type="email" class="form-control border-dark w-75 " placeholder="Enter E-mail" id="driver_email" aria-describedby="email">
            </div>
            <div class="mb-3 col-lg-6">
              <label for="address" class="form-label fw-bold ">Address</label><br>
              <input type="text" class="form-control border-dark w-75 " placeholder="Enter Address" id="address" aria-describedby="address">
            </div>
          </div>

          <div class=" row">
            <div class="mb-3 col-lg-6">
              <label for="city" class=" form-label fw-bold ">City</label><br>
              <input type="text" class="form-control border-dark w-75 " placeholder="Enter City" id="city" aria-describedby="city">
            </div>
            <div class="mb-3 col-lg-6">
              <label for="state" class=" form-label fw-bold">State</label><br>
              <input type="text" class="form-control border-dark w-75" placeholder="Enter State" id="state" aria-describedby="ride">
            </div>
          </div>
          <div class=" row ">
            <div class="mb-3 col-lg-6">
              <label for="driver_aadhar_number" class=" form-label fw-bold ">Aadhar Number</label><br>
              <input type="text" class="form-control border-dark w-75 " placeholder="Enter Aadhar Number" id="driver_aadhar_number" aria-describedby="ride">
            </div>
            <div class="mb-3 col-lg-6">
              <label for="driver_aadhar" class=" form-label fw-bold">Upload Aadhar Image</label><br>
              <input type="file" class="form-control border-dark w-75" placeholder="Upload Aadhar image here" id="driver_aadhar" aria-describedby="ride">
            </div>
          </div>
          <div class=" row ">
            <div class="mb-3 col-lg-6">
              <label for="pincode" class=" form-label fw-bold ">Pincode</label><br>
              <input type="text" class="form-control border-dark w-75 " placeholder="Enter Pincode" id="pincode" aria-describedby="ride">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary ">Submit</button>
      </div>
    </div>
  </div>
</div>